# config file
[main]
address = 127.0.0.1
port = 25000
expire_seconds = 1800
registry_prefix = nexthop

[redis]
address = 127.0.0.1
port = 6379
db_index = 0
reload_time = 60

[mysql]
address = 10.0.0.1
port = 3306
username = user
password = pass
dbname = database
enabled = false
missing_registry_query = SELECT 'OK' from domain where user = '%u' and domain = '%d'

[pgsql]
address = 127.0.0.1
port = 5432
username = user
password = pass
dbname = database
enabled = false
missing_registry_query = SELECT 'OK' from domain where user = '%u' and domain = '%d'

[ldap]
uri = ldap://myldap.com:389
bind_dn = cn=user,ou=Foo,o=bar
bind_pw = pass 
base = ou=Foo,o=bar
search_filter = (&(cn=%u)(associatedDomain=%d))
result_attr = mailTransport
enabled = true
